body {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.602);
	color: white;
	h3 {
		margin: 0;
	}
}

.movie-home-wrapper {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	margin-top: 2%;
	h3 {
		text-align: center;
		font-size: 3rem;
	}

	.crousel-title-wrapper {
		display: flex;
		flex-direction: column;
		h4 {
			font-size: 2rem;
		}
	}
}
