.fav-wrapper {
	width: 90%;
	margin: 0 auto;
	margin-top: 4%;
	header {
		display: flex;
		align-items: center;
		justify-content: space-around;
		h3 {
			text-align: center;
			font-size: 3rem;
			margin-left: 30%;
		}
		a {
			cursor: pointer;
			border: 1px solid grey;
			border-radius: 12px;
			font-size: 1.5rem;
			font-weight: bold;
			padding: 0.5em;
			background-color: rgba(128, 128, 128, 0.575);
			box-shadow: 0 0 4px;
			text-decoration: none;
			color: white;
			&:hover {
				background-color: rgba(128, 128, 128, 0.205);
			}
		}
	}
	.fav-crousel-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-top: 5%;
		.btn-wrapper {
			display: none;
		}
	}
}
